{% extends 'myadmin/index.html' %}

{% block cont %}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">文章列表</div>
                </div>
                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span><a href="{% url 'myadmin_addgoods' %}">新增</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="">
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                            <div class="am-form-group tpl-table-list-select">
                                <select name="type" data-am-selected="{btnSize: 'sm'}" style="display: none;">
                                    <option {% if request.GET.type == 'all' %}selected {% endif %} value="all">所有类别</option>
                                    <option {% if request.GET.type == 'title' %}selected {% endif %} value="title">商品名称</option>
                                    <option {% if request.GET.type == 'price' %}selected {% endif %} value="price">商品价格</option>
                                    <option {% if request.GET.type == 'ordernum' %}selected {% endif %} value="ordernum">商品库存</option>       
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" value="{{request.GET.search}}" name="search" class="am-form-field ">
                                <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"></button>
                                </span>
                            </div>
                        </div>
                    </form>


                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                            <thead>
                                <tr>
                                   <!--  <th>ID</th>
                                    <th>头像</th>
                                    <th>姓名</th>
                                    <th>年龄</th>
                                    <th>性别</th>
                                    <th>手机号</th>
                                    <th>状态</th>
                                    <th>添加时间</th>
                                    <th>操作</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in goodsinfo %}
                                <tr class="gradeX">                                            
                                    <td>{{i.id}}</td>
                                    <td>{{i.title}}</td>
                                    <td><img src="{{i.g_url}}" style="width:50px"></td>
                                    <td>{{i.price}}</td>
                                    <td>{{i.ordernum}}</td>
                                    <td>{{i.ginfo}}</td> 
                                    <td>
                                        <select style="background:pink" class="changes" uid="{{i.id}}">
                                            <option {% if i.status == 0 %}selected {% endif %} value="0">正常</option>
                                            <option {% if i.status == 1 %}selected {% endif %} value="1">禁用</option>
                                        </select>
                                    </td>
                                     <td>{{i.clicknum}}</td> 
                                    <td>{{i.addtime}}</td>
                                    <td>{{i.cateid.name}}</td> 
                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a href="{% url 'myadmin_editgoods' %}?id={{i.id}}">
                                                <i class="am-icon-pencil"></i> 修改
                                            </a>
                                            <a href="{% url 'myadmin_delgoods' %}?id={{i.id}}"  class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                <script type="text/javascript">
                                    $('.changes').change(function(){
                                        var uid = $(this).attr('uid')
                                        var val = $(this).val()
                                        $.get('{% url 'myadmin_changes' %}',{uid:uid,status:val},function(data){
                                            alert(data.msg)
                                        },'json')
                                    })
                                </script>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <li ><a href="{% url 'myadmin_goodslist' %}?p=1&type={{request.GET.type}}&search={{request.GET.search}}">首页</a></li>

                                <li {% if page == 1 %}class="am-disabled"{% endif %}><a href="{% url 'myadmin_goodslist' %}?p={{page|add:-1}}&type={{request.GET.type}}&search={{request.GET.search}}">«</a></li>
                                {% for i in prange %}
                                <li {% if page == i %} class="am-active" {% endif %}><a href="{% url 'myadmin_goodslist' %}?p={{i}}&type={{request.GET.type}}&search={{request.GET.search}}">{{i}}</a></li>
                                {% endfor %}
                                <li {% if page == sumpage %}class="am-disabled"{% endif %}><a href="{% url 'myadmin_goodslist' %}?p={{page|add:1}}&type={{request.GET.type}}&search={{request.GET.search}}">»</a></li>

                                <li ><a href="{% url 'myadmin_goodslist' %}?p={{sumpage}}&type={{request.GET.type}}&search={{request.GET.search}}">尾页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}